html
  head
    title= title 
    link(rel="stylesheet", href="/home.css")
  body
    nav(id= "navegacion")
            a(href="/") INICIO
            br
            a(href="/form") GUARDA TUS PELÍCULAS FAVORITAS
    header(id= "cabecera")
      h1(class="cabeceraIntro")=message
    div(id = "buscador") 
      h2 BUSCADOR DE PELÍCULAS
            br
            input(type="text", name="peliTitulos" id="inputTitulos")
            br
            input(type="button", value="Buscar" id="tomarValor")
    div(id = "informacion") 
      h2(class="infoTitulo") VISUALICE SUS PELICULAS FAVORITAS
    
  script(src="/script_home.js") 
    